<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366889702238-280v7rksareh2ols2ak33dii6tqbqp5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366889702238-280v7rksareh2ols2ak33dii6tqbqp5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAujHOtB0lSWnZ0uCzEfVPfoku_I-iQOI4</string>
	<key>GCM_SENDER_ID</key>
	<string>366889702238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminApp</string>
	<key>PROJECT_ID</key>
	<string>admin-d3769</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-d3769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366889702238:ios:8149cd497b19bcb57935cf</string>
</dict>
</plist>